server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:shibakita}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  sql:
    init:
      mode: always

  data:
    redis:
      host: ${CACHE_HOST:localhost}
      port: ${CACHE_PORT:6379}

management:
  endpoints:
    web:
      exposure:
        include: health,info
